<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50 mt-auto ">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Mashrur Hossain", "http://mashrurhossain.com", class:"text-white" %></small>
    </div>
  </footer>